<nav class="nav-dashboard">
	<p class="icon-plus" ng-click='toggleModal()'><i class="fa fa-plus"></i></p>
	<a href="#/login"><p class="icon-logout"><i class="fa fa-sign-out"></i></p></a>
</nav>
<section class="wrapper-dashboard">

	<modal-dialog show='modalShown' width='750px' height='60%'></modal-dialog>

	<section class="blocks">
		<div class="block"
				ng-repeat="block in blocks">
			<img ng-src="{{block.imageurl}}" alt="{{block.title}}" width="300px"/>

			<h3>{{block.title}}</h3>

			<p>{{block.description}}</p>
		</div>

	</section>
</section>

