<!--<section class="modal-dataForm">-->
	<!--<form name="dataForm" ng-submit="submitNewBlock()">-->

		<!--<label>Image link:</label>-->
		<!--<input type="text" name="imagelink"-->
				<!--ng-model="block.imageurl"/><br/>-->

		<!--<label>Item Title:</label>-->
		<!--<input type="text" name="title"-->
				<!--ng-model="block.title"/><br/>-->

		<!--<label>Item Description:</label>-->
			<!--<textarea name="description"-->
					<!--ng-model="block.description"></textarea><br/>-->

		<!--<button class="form-main--input form-main--button">Push</button>-->
	<!--</form>-->
<!--</section>-->

<div class='ng-modal' ng-show='show'>
	<div class='ng-modal-overlay' ng-click='hideModal()'></div>
	<div class='ng-modal-dialog' ng-style='dialogStyle'>
		<div class='ng-modal-close' ng-click='hideModal()'>X</div>
		<div class='ng-modal-dialog-content' ng-transclude></div>
	</div>
</div>