<section class="wrapper-main--transparent">
	<form class="form-main--form form-register" name="registerForm"
			ng-submit="register()">

		<p ng-show="message">{{message}}</p>

		<input class="form-main--input form-main--email" type="firstname" name="firstname" placeholder="first name"
				ng-model="user.firstname" ng-required="true"/> <br/>
		<p class="error-form--text" ng-show="registerForm.firstname.$invalid && registerForm.firstname.$touched">Please enter a first name</p>

		<input class="form-main--input form-main--email" type="lastname" name="lastname" placeholder="last name"
				ng-model="user.lastname" ng-required="true"/> <br/>
		<p class="error-form--text" ng-show="registerForm.lastname.$invalid && registerForm.lastname.$touched">Please enter a last name</p>

		<input class="form-main--input form-main--email" type="email" name="email" placeholder="email"
				ng-model="user.email" ng-required="true"/> <br/>
		<p class="error-form--text" ng-show="registerForm.email.$invalid && registerForm.email.$touched">Please enter a valid email address</p>

		<input class="form-main--input form-main--pass" type="password" name="password" placeholder="password"
				ng-model="user.password" ng-required="true"/> <br/>
		<p class="error-form--text" ng-show="registerForm.password.$invalid && registerForm.password.$touched">Please choose a password</p>

		<button class="form-main--input form-main--button" type="submit" ng-disabled="registerForm.$invalid">Register</button>
		<p>or <a href="#/">login</a></p>
	</form>
</section>