<section class="wrapper-main--transparent">
	<form class="form-main--form">

		<input class="form-main--input form-main--email" type="firstname" name="firstname" placeholder="First Name"
				ng-model="firstname"/> <br/>
		<input class="form-main--input form-main--email" type="lastname" name="lastname" placeholder="Last Name"
				ng-model="lastname"/> <br/>
		<input class="form-main--input form-main--email" type="email" placeholder="email"
				ng-model="email"/> <br/>
		<input class="form-main--input form-main--pass" type="password" placeholder="password"
				ng-model="password"/> <br/>

		<button class="form-main--input form-main--button" type="submit"
				ng-click="registerUser()">Submit</button>
	</form>
</section>