.nav-dashboard {
  width: 100%;
  padding: 7px;
  background-color: $body-color;
  box-shadow: 0 -1px 2px 0 lighten(#000000, 20%);
  transition: .2s;

  p {
    display: inline;
    color: #ffffff;
    cursor: pointer;

    a {
      color: #ffffff;
    }

    &:hover, a:hover {
      color: $component-color;
    }
  }

  .icon-plus {
    margin: 0 0 0 20px;
    color: #ffffff;

    &:after {
      content: 'new item';
      position: relative;
      left: 5px;
      bottom: 1px;
    }
  }

  .icon-logout {
    color: #ffffff;
    margin: 0 0 0 20px;

    &:after {
      content: 'logout';
      position: relative;
      left: 5px;
    }
  }
}