.wrapper-main--transparent {
  width: 100%;
  height: 100%;
  //background-color: rgba(255, 255, 255, .95);
  background: url("../../../src/styles/assets/texture-trans.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;

  padding-top: 200px;
  box-sizing: border-box;
}

.form-main--form {
  text-align: center;
  margin-top: 30px;
  position: relative;
  z-index: 101;

  .error-form--text {
    color: lighten(red, 20%);
    position: relative;
    //left: 700px;
    //top: 180px;
  }

  .form-main--input {
    margin: 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: $body-color;
    font-size: 1rem;
    font-weight: 100;
    outline: 0;
    border: solid 1px $component-color;
    letter-spacing: 1px;
    transition: .2s;
  }

  .form-main--text {
    padding-left: 10px;
    background-color: transparent;

    &:focus {
      border-color: darken($component-color, 10%);
      width: 240px;
      transition: .3s;
    }
  }

  .form-main--textarea {
    width: 207px;
    height: 100px;
    padding: 10px;
    transition: .2s;
    resize: none;
    background-color: transparent;

    &:focus {
      border-color: darken($component-color, 10%);
      width: 275px;
      transition: .2s;
    }
  }

  .form-main--button {
    border: none;
    cursor: pointer;
    background-color: $component-color;
    color: #ffffff;
    font-weight: 100;
    transition: .2s;

    &:hover {
      background-color: lighten($component-color, 5%);
      transition: .3s;
    }
  }
}

.form-register {
  margin-top: -30px;
}

