.modal-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, .95);
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  top: 0;
}

.modal-add--wrapper {
  width: 30%;
  max-width: 400px;
  height: 400px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 26px -5px black;

  h2 {
    margin: 0;
    color: $component-color;
    font-weight: 200;
  }
}

.icon-close {
  cursor: pointer;
  position: absolute;
  top: 110px;
  right: 440px;
  font-size: 30px;
  margin: 0;
  color: $component-color;

  &:hover {
    color: $link-hover-color;
    transition: .2s;
  }
}