.trinkets-container {
  height: 100%;
  width: calc(100% - 250px);
  border-top: solid 1px $body-color;
  .trinket {
    width: 100%;
    height: 50px;
    border-bottom: solid 1px $body-color;

    &:hover {
      background-color: lighten($component-color, 52%);
      transition: .2s;
    }

    p {
      display: inline-block;
      margin: 17px 0 0 20px;
      color: $component-color;
    }

    .trinket-controls {
      float: right;
      //display: block;
      width: 170px;
      height: 100%;
      position: relative;
      right: 0;
      border-left: solid 1px $body-color;
    } // trinket controls
  } // trinket
} //

.icon-trash {
  cursor: pointer;

  &:hover {
    color: red;
  } // hover
} // icon-trash

.icon-edit {
  cursor: pointer;

  &:hover {
    color: $component-color;
  }
}

